@media (max-width: 320px) {
    #cabecalho-id nav {
        display: flex;
        flex-direction: column;
    }
    #cabecalho-id nav a {
        margin-bottom: 10px;
    }
    .grid-sobrenos .primeira_linha,
    .segunda_linha,
    .terceira_linha {
        margin-bottom: 18em;
        font-size: 13px;
    }
    .grid-sobrenos .img-fluid {
        width: 200px;
        height: 200px;
    }
    .grid-sobrenos .texto {
        margin-top: 2em;
        color: #000;
    }
    .table {
        border-collapse: collapse;
    }
    .table-responsive-sm {
        width: 250px;
    }
    .local {
        width: 250px;
    }
    #btnTop {
        width: 30px;
        height: 30px;
        right: 10px;
    }
    .arrow {
        border-width: 0 3px 3px 0;
    }
}
@media (max-width: 375px) {
    #cabecalho-id nav {
        display: flex;
        flex-direction: column;
    }
    #cabecalho-id nav a {
        margin-bottom: 10px;
    }
    .grid-sobrenos .primeira_linha,
    .segunda_linha,
    .terceira_linha {
        margin-bottom: 18em;
        font-size: 13px;
    }
    .grid-sobrenos .img-fluid {
        width: 265px;
        height: 265px;
    }
    .grid-sobrenos .texto {
        margin-top: 2em;
        color: #000;
    }
    .table {
        border-collapse: collapse;
    }
    .table-responsive-sm {
        width: 250px;
    }
    .local {
        width: 250px;
    }
    #btnTop {
        width: 30px;
        height: 30px;
        right: 10px;
    }
    .arrow {
        border-width: 0 3px 3px 0;
    }
}
@media (max-width: 425px) {
    #cabecalho-id nav {
        display: flex;
        flex-direction: column;
    }
    #cabecalho-id nav a {
        margin-bottom: 10px;
    }
    .grid-sobrenos .primeira_linha,
    .segunda_linha,
    .terceira_linha {
        margin-bottom: 18em;
        font-size: 13px;
    }
    .grid-sobrenos .img-fluid {
        width: 265px;
        height: 265px;
    }
    .grid-sobrenos .texto {
        margin-top: 2em;
        color: #000;
    }
    .table {
        border-collapse: collapse;
    }
    .table-responsive-sm {
        width: 250px;
    }
    .local {
        width: 250px;
    }
    #btnTop {
        width: 30px;
        height: 30px;
        right: 10px;
    }
    .arrow {
        border-width: 0 3px 3px 0;
    }
}
